# GOT Injection Demo - Git Ignore

# Compiled binaries
/target
/injector
/hook.so

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
.directory
.Trash-*